@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    * {
        box-sizing: border-box;
    }

    body {
        font-family: "Inter", Verdana, Geneva, Tahoma, sans-serif;
        background-color: #0c0b0e;
        color: #adabb2;
    }

    /* Chrome, Safari, Edge, Opera */
    input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        appearance: none;
    }

    /* Firefox */
    input[type="number"] {
        -moz-appearance: textfield;
    }
}
